@model ASP.Models.User.UserProfilePageModel
@{
    ViewData["Title"] = "Profile";
}

<div class="text-center">
    <h1 class="display-4">User Profile</h1>
</div>


<div class="row">
    <div class="col col-xxl-5 offset-xxl-2 col-xl-6 offset-xl-2 col-md-7 offset-md-1 col-sm-10">
        @if (Model.IsPersonal == null)
        {
            <div class="alert alert-danger" role="alert">Profile not Found</div>
        }
        else
        {
            <div class="row">
                <div class="col">Name</div>
                <div class="col" data-editable="Name">@Model.Name</div>
            </div>
            <div class="row">
                <div class="col">Registered:</div>
                <div class="col">@Model.RegisteredAt</div>
            </div>
            <div class="row">
                <div class="col">Email:</div>
                <div class="col">
                    <span data-editable="Email">@Model.Email </span>
                    *only with auth
                </div>
            </div>
            if (Model.IsPersonal ?? false)
            {
                <div class="row">
                    <div class="col">Birthdate</div>
                    <div class="col">@Model.Birthdate</div>
                </div>
                <div class="row">
                    <button  id="edit-profile-btn" title="Edit" class="btn btn-outline-warning col"><i class="bi bi-pen"></i></button>
                    <button id="delete-profile-btn" title="Delete" class="btn btn-outline-danger col"><i class="bi bi-trash"></i></button>
                </div>


            }
        }

    </div>
    <div class="col">
        @if (Model.IsPersonal ?? false){
			<h2>Your Carts</h2>
            foreach(var cart in Model.Carts.OrderByDescending(c => c.CreatedAt)){
                String bg = "btn-outline-primary";
                if (cart.PaidAt != null) bg = "btn-outline-success";
                if (cart.DeletedAt != null) bg = "btn-outline-danger";
                
                <a class="btn m-2 @bg"
                asp-controller="Shop" asp-action="Cart" asp-route-id="@cart.Id">
					@cart.CreatedAt.ToString("dd.MM.yyyy")
					@cart.CartItems.Count() items
                </a>
            }
        }
    </div>
</div>


