@model ASP.Models.User.UserSignupPageModel
@{
    ViewData["Title"] = "SignUp";
}

<div class="text-center">
    <h1 class="display-4">Реєстрація</h1>
</div>

@if(Model.FormModel != null && Model.FormErrors?.Count == 0)
{
    <p class="alert alert-info" role="alert">
        Sign Up success
    </p>
}
else
{
    String classAddon = "";
    String? errorMessage = null;
    String? value = null;

    @if (Model.FormModel != null)
    {
        <b>Data, @(Model.FormErrors?.Count() ?? 0) помилок</b>
    }
    else
    {
        <i>No Data</i>
    }
    @if(Model.FormErrors?.ContainsKey("500") ?? false)
    {
        <p class="alert alert-danger" role="alert">
            @Model.FormErrors["500"];
        </p>
    }
    <form action="/User/Register" method="post" enctype="application/x-www-form-urlencoded">
        <div class="row">
            <div class="col col-sm-12 col-lg-6 col-xxl-4">
                <div class="input-group mb-3">
                    @{
                        classAddon = Model.FormErrors == null ? ""
                        : (Model.FormErrors.ContainsKey("UserName")) ? "is-invalid" : "is-valid";
                        errorMessage = null;
                        Model.FormErrors?.TryGetValue("UserName", out errorMessage);
                        value = (Model.FormErrors?.Count ?? 0) > 0 ? Model.FormModel?.UserName : null;
                    }
                    <span class="input-group-text" id="user-name-addon"><i class="bi bi-person"></i></span>
                    <input name="user-name" type="text" class="form-control @classAddon" 
                           placeholder="Ім'я" value="@value"
                           aria-label="Ім'я" aria-describedby="user-name-addon" />
                    <div class="invalid-feedback">@errorMessage</div>
                </div>
            </div>
            <div class="col col-sm-12 col-lg-6 col-xxl-4">
                <div class="input-group mb-3">
                    @{
                        classAddon = Model.FormErrors == null ? ""
                        : (Model.FormErrors.ContainsKey("UserEmail")) ? "is-invalid" : "is-valid";
                        errorMessage = null;
                        Model.FormErrors?.TryGetValue("UserEmail", out errorMessage);
                        value = (Model.FormErrors?.Count ?? 0) > 0 ? Model.FormModel?.UserEmail : null;
                    }
                    <span class="input-group-text" id="user-email-addon"><i class="bi bi-envelope-at"></i></span>
                    <input name="user-email" type="email" class="form-control @classAddon" placeholder="E-mail"
                           value="@value" aria-label="E-mail" aria-describedby="user-email-addon" value="user@i.ua">
                    <div class="invalid-feedback">@errorMessage</div>
                </div>
            </div>
            <div class="col col-sm-12 col-lg-6 col-xxl-4">
                <div class="input-group mb-3">
                    @{
                        classAddon = Model.FormErrors == null ? ""
                        : (Model.FormErrors.ContainsKey("Birthdate")) ? "is-invalid" : "is-valid";
                        errorMessage = null;
                        Model.FormErrors?.TryGetValue("Birthdate", out errorMessage);
                        value = (Model.FormErrors?.Count ?? 0) > 0 ? Model.FormModel?.Birthdate?.ToString("yyyy-MM-dd") : null;
                    }
                    <span class="input-group-text" id="birthdate-addon"><i class="bi bi-cake"></i></span>
                    <input name="birthdate" type="date" class="form-control @classAddon" placeholder="Дата народження"
                           value="@value" aria-label="Дата народження" aria-describedby="birthdate-addon">
                    <div class="invalid-feedback">@errorMessage</div>
                </div>
            </div>
            <div class="col col-sm-12 col-lg-6 col-xxl-4">
                <div class="input-group mb-3">
                    @{
                        classAddon = Model.FormErrors == null ? ""
                        : (Model.FormErrors.ContainsKey("UserLogin")) ? "is-invalid" : "is-valid";
                        errorMessage = null;
                        Model.FormErrors?.TryGetValue("UserLogin", out errorMessage);
                        value = (Model.FormErrors?.Count ?? 0) > 0 ? Model.FormModel?.UserLogin : null;
                    }
                    <span class="input-group-text" id="user-login-addon"><i class="bi bi-key"></i></span>
                    <input name="user-login" type="text" class="form-control @classAddon" placeholder="Login"
                           value="@value" aria-label="Login" aria-describedby="user-login-addon">
                    <div class="invalid-feedback">@errorMessage</div>
                </div>
            </div>
            <div class="col col-sm-12 col-lg-6 col-xxl-4">
                <div class="input-group mb-3">
                    @{
                        classAddon = Model.FormErrors == null ? ""
                        : (Model.FormErrors.ContainsKey("UserPassword")) ? "is-invalid" : "is-valid";
                        errorMessage = null;
                        Model.FormErrors?.TryGetValue("UserPassword", out errorMessage);
                    }
                    <span class="input-group-text" id="user-password-addon"><i class="bi bi-unlock"></i></span>
                    <input name="user-password" type="password" class="form-control @classAddon" placeholder="Password"
                           aria-label="Password" aria-describedby="user-password-addon">
                    <div class="invalid-feedback">@errorMessage</div>
                </div>
            </div>
            <div class="col col-sm-12 col-lg-6 col-xxl-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="user-repeat-addon"><i class="bi bi-lock"></i></span>
                    <input name="user-repeat" type="password" class="form-control" placeholder="Repeat"
                           aria-label="repeat" aria-describedby="user-repeat-addon">
                    <div class="invalid-feedback"></div>
                </div>
            </div>
        </div>
        <div class="form-check mb-3">
            <input name="agree" class="form-check-input" type="checkbox" value="" id="checkDefault">
            <label class="form-check-label" for="checkDefault">
                Не буду нічого порушувати
            </label>
        </div>
        <button name="btn" value="send" type="submit" class="btn btn-primary"><i class="bi bi-send-fill"></i> Надіслати</button>
    </form>
}


<h2>Робота з формами</h2>
<p class="alert alert-warning" role="alert">
    Форми передають дані. Це значить, що оновлення сторінки (після надсилання форми) 
    призведе до повторного надсилання даних. Те ж саме буде при поверненні до 
    сторінки (навігацією назад)
</p>
<p>
    Для практичного використання вживається прийом "скидання даних" полягає в тому, що оброблення даних відбувається у два етапи: який ww 1
    1. Приймаються дані форми та надсилається редірект
    2. Повторний запит без параметрів відновлює збережені дані та обробляє їх
</p>
<pre>
    [Browser]   {FormData}  [Server]
    (form) ------------------>| *save*
                302 Redirect  |   |
    |<------------------------|   |
    |           (no data)         |
    |<------------------------  Process
    |           HTML              |
    <------------------------------
</pre>